<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.GTClicker"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/clicker_icon"
                 android:theme="@android:style/Theme.NoTitleBar"
            >
        <activity android:name="Clicker"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".DisplayMessageActivity"
                  android:label="@string/title_activity_display_message">
                  <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.GTClicker.Clicker" />
                  </activity>

        <activity android:name=".AboutActivity"
                  android:label="@string/title_activity_about"
                  android:theme="@android:style/Theme.Dialog">
                <intent-filter>
                    <action android:name="com.example.GTClicker.ABOUT"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
        </activity>

        <activity android:name=".loginActivity">
                  <meta-data android:name="android.support.PARENT_ACTIVITY"
                      android:value="com.example.GTClicker.Clicker"/>
        </activity>

        <activity android:name=".ListCommentsActivity">
                  <meta-data android:name="android.support.PARENT_ACTIVITY"
                   android:value="com.example.GTClicker.Clicker"/>
        </activity>

        <activity android:name=".questionActivity">
                  <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.example.GTClicker.Clicker"/>
        </activity>

        <activity android:name=".classActivity" >
                  <intent-filter>
                     <category android:name="android.intent.category.BROWSABLE"/>
                     <category android:name="android.intent.category.DEFAULT"/>
                     <data
                        android:host="loggedin"
                        android:scheme="gtclicker" />
                 </intent-filter>
                 <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.example.GTClicker.Clicker"/>
        </activity>

    </application>
</manifest>